astroid==1.6.5
autopep8==1.4.3
backports.functools-lru-cache==1.5
configparser==3.5.0
cycler==0.10.0
enum34==1.1.6
falcon==1.4.1
future==0.17.1
futures==3.2.0
gunicorn==19.9.0
isort==4.3.4
joblib==0.13.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==2.2.3
mccabe==0.6.1
numpy==1.15.4
pandas
Pillow==9.0.1
pycodestyle==2.5.0
pylint==1.9.3
pyparsing==2.3.0
python-dateutil==2.7.5
python-mimeparse==1.6.0
pytz==2018.7
scikit-learn==0.20.2
scikit-plot==0.3.7
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
subprocess32==3.5.3
wrapt==1.10.11
yappi==0.98